/* remove browser default margins */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Set up variables for color scheme */
:root {
    --primary-color: rgb(226, 33, 33);
    --secondary-color: orange;
    --tertiary-color : green;
}
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* FOOTER STYLES START */
footer {
    /* background: var(--primary-color);
    padding: 40px 35px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-align: right;
    border-right: 4px solid var(--secondary-color);
    padding: 0 10px;
}
footer div {
    /* margin: 7px 0; */
}
footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer div ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--secondary-color);
    text-decoration: underline;
}
footer a {
    color: var(--secondary-color);
}
  /* END FOOTER STYLES */
/* HERO STYLES START */
.hero {
    width: 100%;
    height: 300px;
    background-image: url('../images/hero-bg-1.jpg');
    background-size: cover;
    background-position: center;
} 
.hero h2 {
    color: var(--secondary-color);

}
/* END HERO STYLE */
/* SECTION TITLE STYLES START */
.flex-row {
    display: flex;
    /* flex-direction: column; */
}
.section-title {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-align: right;
    border-right: 4px solid var(--secondary-color);
    padding: 0 10px;
    width: 150px;
}
section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    list-style: none;
}
.work {
    position: flex;
}
/* #work {
    position: flex;
    justify-content: space-evenly;
    flex-direction: row;
} */
.work img {
    height: 300px;
    width: 600px;
    object-fit: cover;
    border: 2px solid var(--secondary-color);
}
figure {
    position: relative;
}
figurecaption {
    position: absolute;
    left: 0px;
    background-color: var(--secondary-color);
    top: 50%;
    font-size: 50px;
    color: var(--primary-color);
}
body {
    background-color: var(--tertiary-color)
}
  
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {}